 <!-- Menu -->
 <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{{path('home')}}" class="app-brand-link">
        <span class="app-brand-text c-primary demo menu-text fw-bolder ms-2">Electro Store</span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item {{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
          <a href="{{ path('home') }}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div data-i18n="Analytics">Dashboard</div>
          </a>
      </li>

      <!-- Layouts -->
      {% for model in models() %}
      {% if app.user and 'ROLE_ADMIN' in app.user.roles and ('ROLE_ADMIN' in model.roles or model.roles is empty or model.roles|length == 0) %}
        {% set model_active = app.request.attributes.get('_route') starts with model.path %}
        <li class="menu-item {{ model_active ? 'active' : '' }}">
          <a href="{{ path(model.path) }}" class="menu-link menu-toggle">
            <i class="{{ model.icon }}"></i> &nbsp;&nbsp;
            <div data-i18n="Account Settings">{{ model.name }}</div>
          </a>
          {% for smodel in model.smodels %}
            <ul class="menu-sub">
              <li class="menu-item {{ app.request.attributes.get('_route') == smodel.path ? 'active' : '' }}">
                <a href="{{ path(smodel.path) }}" class="menu-link">
                  <div data-i18n="">{{ smodel.name }}</div>
                </a>
              </li>
            </ul>
          {% endfor %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </aside>
